/* ADD YOUR CUSTOM CSS TO THIS FILE BELOW */

body { margin: 10px; 
	   			   padding: 10px; 
  				   background-color: antiquewhite;
  				   font-family: "Noto Sans Display", serif;
  				   text-align: center;
  				   color: black;
			}

			ul {list-style-position: inside;
					list-style-image: url('flower.png');
						}

			a:link, a:visited {
  				color: rgba(116, 71, 0, 1.0);
  				text-decoration: none
  			}	
  			a:hover { text-decoration: underline;
		  }


		  #skills {text-align: left;}


		  h1 {font-size: 45px;
		  	 font-family: "Rampart One", serif;
		  	 color: black;
				}

		  h2 {font-size: 30px;
		  	 font-family: "Rampart One", serif;
		  	 color: black;
				}

			#contact {line-height: 1px;
					}